body {
    background-color: black;
}
.mainT {
    font-size: 70px;
    text-align: center;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
}

* {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.pictures {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.list {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;

}

.secondT {
    font-size: 30px;
}